{% extends 'RotisCourseMakerBundle::layout.html.twig' %}

{% block title %}CoursesMaker - PageEquipe{% endblock %}
{% block div %}
    <h2>Edition des infos de l'équipe {{ equipe.username }}</h2>
    {% if app.session.hasFlash('notice') %}
        <div class="flash-notice">
            <h3 class="notice">{{ app.session.flash('notice') }}</h3>
        </div>
    {% endif %}
{% endblock %}
{% block content %}


    <div class="container-fluid">
        <div class="row-fluid">
            <div class="offset1 span10">

                <form action="{{ path('admin_update', { 'id': equipe.id }) }}" method="post" {{ form_enctype(form) }}
                      class="well">
                    {{ form_widget(form) }}
                    <br/>
                    <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>



{% endblock %}