{% extends 'RotisCourseMakerBundle::layout.html.twig' %}

{% block title %}CoursesMaker - PageEquipe{% endblock %}
{% block div %}
    <h2>Edition des infos de l'équipe {{ equipe.username }}</h2>
    {% if app.session.hasFlash('notice') %}
        <div class="flash-notice">
            <h3 class="notice">{{ app.session.flash('notice') }}</h3>
        </div>
    {% endif %}
{% endblock %}
{% block content %}


    <div class="container-fluid">
        <div class="row-fluid">
            <div class="offset1 span10">
                <form action="{{ path('admin_update', { 'id': equipe.id }) }}" method="post" {{ form_enctype(form) }}
                      class="well">
                    <table>
                        <tr>
                            <td>{{ form_widget(form.username) }}</td>
                        </tr>

                        <tr>
                            <td>{{  form_label(form.categorie) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_widget(form.categorie) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_label(form.course) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_widget(form.course) }}</td>
                        </tr>
                    </table>

                    {{ form_rest(form) }}
                    <br/>
                    <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var categorie_course = JSON.parse('{{ categorie_course|raw }}');

        $(document).ready(function() {
            $('#user_categorie').on('change', function(e) {
                if(categorie_course[e.target.value].indexOf($('#user_course').find(':selected').val()) === -1) {
                    $('#user_course option[value=""]').attr('selected','selected');
                }

                $('#user_course').find('option').each(function(index, value) {
                    var option = $(value);
                    var value = option.attr('value');

                    for (var i in categorie_course[e.target.value]) {
                        if (categorie_course[e.target.value][i] == value) {
                            option.show();
                            option.removeAttr('disabled');
                            return;
                        }
                    }
                    option.hide();
                    option.attr('disabled', 'disabled');
                });
                // anyway show first choice
                $('#user_course').find('option[value=]').removeAttr('disabled');
            });
        });
    </script>

{% endblock %}