{% extends 'RotisCourseMakerBundle::layout.html.twig' %}

{% block title %}CoursesMaker - PageEquipe{% endblock %}
{% block div %}
    <h1>Edition</h1>
{% endblock %}
{% block content %}   

<h1>Informations sur l'Equipe {{ equipe.username }} </h1>


<p>{{ equipe.username }} <br />
   {% if equipe.valide %}
       Valide
   {% else %}
       Pas encore valide
   {% endif %} <br />
   {{ equipe.course.nom }} <br />
   {{ equipe.categorie.nom }} <br />
   {{ equipe.course.type.nom }}

</p>

    {% if is_granted('ROLE_ADMIN') %}
    {% else %}
    {% if equipe.categorie.nom != 'Solo' %}}
    <div class="row-fluid">
        <div class="offset1 span10">

            <form action="{{ path('edit', {'name': equipe.username })}}" method="post" {{ form_enctype(form) }} class="well">
                {{ form_widget(form) }}

                <input type="submit" class="btn btn-primary"/>
            </form>
        </div>
    </div>
    {% else %}
    Equipe complete!
    {% endif %}
    {% endif %}



{% endblock %}
