{% extends 'RotisCourseMakerBundle::layout.html.twig' %}

{% block title %}CoursesMaker - PageEquipe{% endblock %}
{% block div %}
    <h1>Edition</h1>
    {% if app.session.hasFlash('notice') %}
        <div class="flash-notice">
            <h3 class="notice">{{ app.session.flash('notice') }}</h3>
        </div>
    {% endif %}
{% endblock %}
{% block content %}

    <h1>Informations sur l'Equipe {{ equipe.username }} </h1>
    {# TODO: ajouter des champs pour type paiement et numéro cheque #}

    <table class="table table-bordered" id="tableEq">
        <thead>
        <tr>
            <th>Nom d'équipe</th>
            <th>Statut</th>
            <th>Course</th>
            <th>Dans la catégorie</th>
            <th>Type</th>
            <th>Nombre de coureurs inscrits</th>
            <th>Tarifs</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ equipe.username }}</td>
            <td>{% if equipe.getValide() %}
                    <p id="val"><strong>Valide</strong></p>
                {% else %}
                    Pas encore valide
                {% endif %}</td>
            <td>{{ equipe.course.nom }}</td>
            <td>{{ equipe.categorie.nom }}</td>
            <td>{{ equipe.course.type.nom }}</td>
            <td>{{ nombre }}</td>
            <td>{% for tarif in tarifs %}
                    {{ tarif.prixEtudiant }}€ pour les étudiants
                    {{ tarif.prix }}€ pour les non-étudiants
                {% endfor %}</td>
        </tr>
        </tbody>
    </table>


    <br/>
    {% if is_granted('ROLE_ADMIN') %}
        {% if not equipe.getValide() %}
            <p><a class="btn" href="{{ path('admin_edit', { 'id': equipe.id }) }}">Editer l'équipe &raquo;</a></p>
            <p><a class="btn btn-danger" href="{{ path('admin_erase', { 'id': equipe.id }) }}" onclick="return(confirm('Voulez-vous vraiment supprimer l\'équipe?'));">Supprimer l'équipe &raquo;</a></p>

        {% endif %}
        {% if validable or equipe.getValide() %}<p><a class="btn" href="{{ path('admin_team_valid', { 'id': equipe.getId(), 'status': equipe.getValide() }) }}" onclick="return(confirm('Voulez-vous vraiment valider/invalider cette équipe?'));" >{% if not equipe.getValide() %}Valider l'équipe{% else %}Invalider l'équipe{% endif %} &raquo;</a></p>{% endif %}
    {% endif %}
    <br/>
    <table class="table table-bordered" id="tableJ" ng-controller="joueurCtrl" ng-init="nbjoueurs = {{ equipe.getJoueurs() | length }};">
        <thead>
        <tr>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Statut</th>
          {# Pas de Tshirt cette annee #} {# <th>T-Shirt</th> #}
            <th>Papiers</th>
            <th>Paiement</th>
        </tr>
        </thead>
        <tbody>

            {% for joueurs in equipe.getJoueurs() %}
        <tr ng-form="joueurs[{{ loop.index0 }}]" role="form">
            <td>{{ joueurs.prenom }}</td>
            <td>{{ joueurs.nom }}</td>
            <td>{% if joueurs.email %}{{ joueurs.email }}
            {% else %}
                <div ng-switch="fixed[{{ loop.index0 }}].email">
                    <div ng-switch-when="true">
                        {[{ joueurs[{{ loop.index0 }}].email }]}
                    </div>
                    <div class="form-group" ng-switch-default>
                                <input type="email" name="email" ng-model="joueurs[{{ loop.index0 }}].email" placeholder="Indiquez une adresse mail">
                                <input type="button" class="btn btn-primary" ng-click="send({{ equipe.id }},{{ joueurs.id }}, {{ loop.index0 }})" value="Valider">
                    </div>
                </div>
            {% endif %}</td>
            <td>{% if joueurs.telephone %}{{ joueurs.telephone }}
            {% else %}
                <div ng-switch="fixed[{{ loop.index0 }}].telephone">
                    <div ng-switch-when="true">
                        {[{ joueurs[{{ loop.index0 }}].telephone }]}
                    </div>
                    <div class="form-group" ng-switch-default>
                        <input type="text" name="telephone" ng-model="joueurs[{{ loop.index0 }}].telephone" placeholder="Indiquez un numéro de téléphone">
                        <input type="button" class="btn btn-primary" ng-click="send({{ equipe.id }},{{ joueurs.id }}, {{ loop.index0 }})" value="Valider">
                    </div>
                </div>
            {% endif %}</td>
            {% if joueurs.getEtudiant() %}
                <td>Etudiant</td>
            {% else %}
                <td>Pas Etudiant</td>
            {% endif %}
           {#Pas de Tshirt cette annee#}{# <td>{{ joueurs.getTailleTshirt }}</td>#}
            {% if joueurs.getPapiersOk() %}
                <td>Certificat médical reçu</td>
            {% else %}
                <td>En attente du certificat médical {% if joueurs.getEtudiant() %}
                        et/ou de la carte étudiant
                    {% endif %}</td>
            {% endif %}
            {% if joueurs.getPaiementOk() %}
                <td>Paiement Validé</td>
            {% else %}
                <td>En attente de paiement</td>
            {% endif %}
            {% if equipe.getValide() %}
            {% else %}
                {% if is_granted('ROLE_ADMIN') %}
                    {% if joueurs.getPapiersOk() %}
                        <td><a class="btn btn-danger"
                           href="{{ path('admin_switch_validation', {'id':joueurs.id, 'etat':joueurs.getPapiersOk(), 'objet': 'certificat'}) }}">Invalider certificat</a>
                        </td>
                    {% else %}
                        <td><a class="btn btn-success"
                           href="{{ path('admin_switch_validation', {'id':joueurs.id, 'etat':joueurs.getPapiersOk(), 'objet': 'certificat'}) }}" >Valider certificat</a>
                        </td>
                    {% endif %}
                    {% if joueurs.getPaiementOk() %}
                    <td><a class="btn btn-danger"
                           href="{{ path('admin_switch_validation', {'id':joueurs.id, 'etat':joueurs.getPaiementOk(), 'objet': 'paiement'}) }}">Invalider paiement</a></td>
                    {% else %}
                    <td><a class="btn btn-success"
                           href="{{ path('admin_switch_validation', {'id':joueurs.id, 'etat':joueurs.getPaiementOk(), 'objet': 'paiement'}) }}">Valider paiement</a></td>
                    {% endif %}
                    {% if nombre>1 %}
                    <td><a class="btn"
                           href="{{ path('equipe_remove_joueur', {'id':equipe.id, 'idjoueur':joueurs.id}) }}" onclick="return(confirm('Voulez-vous vraiment supprimer ce coureur?'));">Supprimer coureur</a>
                    </td>
                    {% endif %}
        </tbody>
        <tfoot>
            {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if nombre>1 %}
                    <td><a class="btn btn-danger"
                           href="{{ path('equipe_remove_joueur', {'id':equipe.id, 'idjoueur':joueurs.id}) }}" onclick="return(confirm('Voulez-vous vraiment supprimer ce coureur?'));">Supprimer coureur</a>
                    </td>
                {% endif %}
            {% endif %}
        {% endif %}
        </tr>
        {% endfor %}

            </tfoot>
    </table>


    <br/>
    </p>
    {% if not equipe.getValide() %}
        {% if nombre < equipe.categorie.nbmaxcoureurs %}
            <div class="row-fluid">
                <div class="offset1 span10">
                    <form action="{{ path('edit', {'id': equipe.id }) }}" method="post" {{ form_enctype(form) }}
                        class="well">
                        {{ form_widget(form) }}
                        <br/>
                        <input type="submit" class="btn btn-primary"/>
                     </form>
                </div>
            </div>

        {% else %}
            <span class="label"><i class="icon-warning-sign"></i><h4 class="inline">&nbsp;Equipe complète</h4></span>
        }
        {% endif %}
    {% endif %}

<style>
    #val{
        color: green;
        display: inline;
    }
</style>
    <!-- Le javascript
       ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{% endblock %}
