{% extends 'RotisCourseMakerBundle::layout.html.twig' %}

{% block title %}CoursesMaker - PageEquipe{% endblock %}
{% block div %}
    <h1>Edition</h1>
{% endblock %}
{% block content %}   

<h1>Informations sur l'Equipe {{ equipe.username }} </h1>
{# TODO: ajouter des champs pour paiement et papiers #}

<p>{{ equipe.username }} <br />
   {% if equipe.valide %}
       Valide
   {% else %}
       Pas encore valide
   {% endif %} <br />
   {{ equipe.course.nom }} <br />
   {{ equipe.categorie.nom }} <br />
   {{ equipe.course.type.nom }} <br />
   Nombre de coureurs {{ nombre }} <br />

    <br />
    {% if is_granted('ROLE_ADMIN') %}
        <p><a class="btn" href="{{ path('admin_edit', { 'id': equipe.id }) }}">Editer l'équipe &raquo;</a></p>
    {% endif %}
    <br />
       <ul>
           <li>Prenom {% for joueurs in equipe.joueurs %} {{ joueurs.prenom }} {% endfor %}</li>
           <li>Nom {% for joueurs in equipe.joueurs %} {{ joueurs.nom }} {% endfor %}</li>
           <li>Email {% for joueurs in equipe.joueurs %} {{ joueurs.email }} {% endfor %}</li>
           <li>Telephone {% for joueurs in equipe.joueurs %} {{ joueurs.telephone }} {% endfor %}</li>
           <li>Statut {% for joueurs in equipe.joueurs %} {% if joueurs.getEtudiant() %}
                   Etudiant
               {% else %}
                   Pas Etudiant
               {% endif %}
               {% endfor %}</li>
           <li>T-Shirt {% for joueurs in equipe.joueurs %} {{ joueurs.getTailleTshirt }} {% endfor %}</li>
           <li>Papiers {% for joueurs in equipe.joueurs %} {% if joueurs.getPapiersOk() %}
                   Papiers Validés
               {% else %}
                   En attente des papiers
               {% endif %}
               {% endfor %}
           </li>
           <li>Paiement {% for joueurs in equipe.joueurs %} {% if true == joueurs.getPaiementOk() %}
                   Paiement Validé
               {% else %}
                   En attente de paiement
               {% endif %}
               {% endfor %}
           </li>
       </ul>

{# TODO:
Faire un formulaire d'édition de l'équipe
Faire un tableau #}

<br />
    </p>

    {% if equipe.categorie.nom != 'Solo' or nombre < 1 %}
        {% if equipe.categorie.nom != 'Equipe' or nombre < 3 %}
            {% if equipe.categorie.nom != 'Loisir' or nombre < 12 %}
        <div class="row-fluid">
            <div class="offset1 span10">

                <form action="{{ path('edit', {'id': equipe.id })}}" method="post" {{ form_enctype(form) }} class="well">
                {{ form_widget(form) }}
                <br />
                    <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
        </div>

    {% else %}
    Equipe complete!
    {% endif %}
    {% else %}
        Equipe complete!
    {% endif %}
    {% else %}
        Equipe complete!
    {% endif %}

<!-- Le javascript
   ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{% endblock %}
