{% extends 'RotisCourseMakerBundle::layout.html.twig' %}

{% block title %}CoursesMaker - PageEquipe{% endblock %}
{% block div %}
    <h1>Edition</h1>
{% endblock %}
{% block content %}

    <h1>Informations sur l'Equipe {{ equipe.username }} </h1>
    {# TODO: ajouter des champs pour type paiement et numéro cheque #}
    {% if app.session.hasFlash('notice') %}
        <div class="flash-notice">
    {{ app.session.flash('notice') }}
        </div>
    {% endif %}
    <table>
        <thead>
        <tr>
            <th>Nom d'équipe</th>
            <th>Statut</th>
            <th>Inscrite à la course</th>
            <th>Dans la catégorie</th>
            <th>Type</th>
            <th>Nombre de coureurs inscrits</th>
            <th>Tarifs</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ equipe.username }}</td>
            <td>{% if equipe.valide %}
                    Valide
                {% else %}
                    Pas encore valide
                {% endif %}</td>
            <td>{{ equipe.course.nom }}</td>
            <td>{{ equipe.categorie.nom }}</td>
            <td>{{ equipe.course.type.nom }}</td>
            <td>{{ nombre }}</td>
            <td>{% for tarif in tarifs %}
                    {% if tarif.getEtudiant() %}
                        {{ tarif.prix }}€ pour les étudiants
                    {% else %}
                        {{ tarif.prix }}€ pour les non-étudiants
                    {% endif %}
                {% endfor %}</td>
        </tr>
        </tbody>
    </table>


    <br/>
    {% if is_granted('ROLE_ADMIN') %}
        <p><a class="btn" href="{{ path('admin_edit', { 'id': equipe.id }) }}">Editer l'équipe &raquo;</a></p>
    {% endif %}
    <br/>
    <table>
        <thead>
        <tr>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Statut</th>
            <th>T-Shirt</th>
            <th>Papiers</th>
            <th>Paiement</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for joueurs in equipe.joueurs %}
        <tr>
            <td>{{ joueurs.prenom }}</td>
            <td>{{ joueurs.nom }}</td>
            <td>{{ joueurs.email }}</td>
            <td>{{ joueurs.telephone }}</td>
            {% if joueurs.getEtudiant() %}
                <td>Etudiant</td>
            {% else %}
                <td>Pas Etudiant</td>
            {% endif %}
            <td>{{ joueurs.getTailleTshirt }}</td>
            {% if joueurs.getPapiersOk() %}
                <td>Certificat médical reçu</td>
            {% else %}
                <td>En attente du certificat médical {% if joueurs.getEtudiant() %}
                        et/ou de la carte étudiant
                    {% endif %}</td>
            {% endif %}
            {% if joueurs.getPaiementOk() %}
                <td>Paiement Validé</td>
            {% else %}
                <td>En attente de paiement</td>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                {% if joueurs.getPapiersOk() %}
                    <td><a class="btn btn-danger"
                       href="{{ path('admin_switch_validation', {'id':joueurs.id, 'etat':joueurs.getPapiersOk(), 'objet': 'certificat'}) }}">Invalider certificat</a>
                    </td>
                {% else %}
                    <td><a class="btn btn-success"
                       href="{{ path('admin_switch_validation', {'id':joueurs.id, 'etat':joueurs.getPapiersOk(), 'objet': 'certificat'}) }}">Valider certificat</a>
                    </td>
                {% endif %}
                {% if joueurs.getPaiementOk() %}
                <td><a class="btn btn-danger"
                       href="{{ path('admin_switch_validation', {'id':joueurs.id, 'etat':joueurs.getPaiementOk(), 'objet': 'paiement'}) }}">Invalider paiement</a></td>
                {% else %}
                <td><a class="btn btn-success"
                       href="{{ path('admin_switch_validation', {'id':joueurs.id, 'etat':joueurs.getPaiementOk(), 'objet': 'paiement'}) }}">Valider paiement</a></td>
                {% endif %}
                {% if nombre>1 %}
                <td><a class="btn"
                       href="{{ path('equipe_remove_joueur', {'id':equipe.id, 'idjoueur':joueurs.id}) }}">Supprimer coureur</a>
                </td>
                {% endif %}
                </td>
            {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if nombre>1 %}
                <td><a class="btn btn-danger"
                       href="{{ path('equipe_remove_joueur', {'id':equipe.id, 'idjoueur':joueurs.id}) }}">Supprimer coureur</a>
                </td>
                {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
        </tr>
        </tbody>
    </table>

    {# TODO:CSS le tableau #}

    <br/>
    </p>

    {% if equipe.categorie.nom != 'Solo' or nombre < 1 %}
        {% if equipe.categorie.nom != 'Equipe' or nombre < 3 %}
            {% if equipe.categorie.nom != 'Loisir' or nombre < 12 %}
                <div class="row-fluid">
                    <div class="offset1 span10">

                        <form action="{{ path('edit', {'id': equipe.id }) }}" method="post" {{ form_enctype(form) }}
                              class="well">
                            {{ form_widget(form) }}
                            <br/>
                            <input type="submit" class="btn btn-primary"/>
                        </form>
                    </div>
                </div>

            {% else %}
                Equipe complete!
            {% endif %}
        {% else %}
            Equipe complete!
        {% endif %}
    {% else %}
        Equipe complete!
    {% endif %}

    <!-- Le javascript
       ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{% endblock %}
