{% extends 'RotisCourseMakerBundle::layout.html.twig' %}

{% block title %}CoursesMaker - Equipes par course{% endblock %}

{% block content %}

    Equipes participant à la course {{ course.getNom() }}
    {% if existence %}
        {% for equipe in equipes %}
            <li><a href="{{ path('account', { 'id': equipe.id }) }} ">{{ equipe.username }}</a> {% if equipe.getValide() %}<p id="val">Valide</p>{% else %}<p id="pasval">Pas Valide</p>{% endif %}</li>
        {% endfor %}
    {% else %}
        <h6>Aucune équipe n'est encore inscrite</h6>
    {% endif %}

    Début de la course: {{ course.getDatetimeDebut()| date('Y-m-d H:i:s') }} <br/>
    Fin: {{ course.getDatetimeFin()| date('Y-m-d H:i:s') }} <br/>
    Etat des inscriptions:
    {% if course.getInscriptionsOuvertes() %}
        Ouvertes
    {% else %}
        Fermées
    {% endif %}

    <style>
        #val{
            color: green;
            display: inline;
        }
        #pasval{
            color: red;
            display: inline;
        }
    </style>
{% endblock %}