{% extends 'RotisCourseMakerBundle::layout.html.twig' %}
{% block title %}CoursesMaker - Inscription{% endblock %}
{% block div %}
    <h1>Inscription</h1>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="offset1 span10">

                <form action="{{ path('create') }}" method="post" {{ form_enctype(form) }} class="well">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">{{ form_label(form.user) }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ form_label(form.user.username) }}{{ form_widget(form.user.username) }}{{ form_errors(form.user.username) }}</td>
                            </tr>
                            <tr>
                                <td>{{ form_label(form.user.categorie) }}{{ form_widget(form.user.categorie) }}{{ form_errors(form.user.categorie) }}</td>
                                {# Pas de Tshirt cette annee #}{# <td>{{ form_label(form.joueur.taille_tshirt) }}</td> #}
                               {# Pas de Tshirt cette annee #} {# <td>{{ form_widget(form.joueur.taille_tshirt) }}</td> #}
                            </tr>
                            <tr>
                                <td>{{ form_label(form.user.course) }}{{ form_widget(form.user.course) }}{{ form_errors(form.user.course) }}</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th scope="col">{{ form_label(form.joueur) }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ form_label(form.joueur.nom) }}{{ form_widget(form.joueur.nom)}}{{ form_errors(form.joueur.nom) }}</td>
                                <td>{{ form_label(form.joueur.prenom) }}{{ form_widget(form.joueur.prenom) }}{{ form_errors(form.joueur.prenom) }}</td>
                            </tr>
                            <tr>
                                <td>{{ form_widget(form.user.password) }}{{ form_errors(form.user.password) }}</td>
                                <td>{{ form_label(form.joueur.etudiant) }}{{ form_widget(form.joueur.etudiant) }}{{ form_errors(form.joueur.etudiant) }}</td>
                            </tr>
                            <tr>
                                <td>Nous avons l'habitude de communiquer des informations à propos des courses par mail. Merci de rentrer un numéro de téléphone si vous n'avez pas d'adresse mail.</td>
                            </tr>
                            <tr>
                                <td>{{ form_label(form.joueur.email) }}{{ form_widget(form.joueur.email) }}{{ form_errors(form.joueur.email) }}</td>
                                <td>{{ form_label(form.joueur.telephone) }}{{ form_widget(form.joueur.telephone) }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {{ form_rest(form) }}
                    <br/>
                    <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var categorie_course = JSON.parse('{{ categorie_course|raw }}');

        $(document).ready(function() {
            $('#registration_user_categorie').on('change', function(e) {
                $('#registration_user_course').find('option').each(function(index, value) {
                    var option = $(value);
                    var value = option.attr('value');

                    for (var i in categorie_course[e.target.value]) {
                        if (categorie_course[e.target.value][i] == value) {
                            option.show();
                            option.removeAttr('disabled');
                            return;
                        }
                    }

                    option.hide();
                    option.attr('disabled', 'disabled');
                });
                // anyway show first choice
                $('#registration_user_course').find('option[value=]').removeAttr('disabled');
            });
        });
    </script>
{% endblock %}
