<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}CoursesMaker{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Inscriptions aux courses des 24 Heures de l'INSA">
    <meta name="author" content="24Heures de l'INSA">
    <!--Favicon -->
    <link rel="shortcut icon" href="{{ asset('bundles/rotiscoursemaker/img/favicon.ico')}}">

    <!--Bootstrap 2.3.2 stored locally (couldn't find online repo) -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/rotiscoursemaker/bootstrap/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('bundles/rotiscoursemaker/bootstrap/css/bootstrap-responsive.min.css') }}"/>

    <!-- Personnal css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/rotiscoursemaker/css/global.css') }}" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{{ asset('bundles/rotiscoursemaker/bootstrap/js/bootstrap.min.js') }}"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/rotiscoursemaker/js/app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/rotiscoursemaker/js/controllers.js') }}"></script>

    <!--Include of FOSjsRouting to share symfony routes with angular -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    
    {% block stylesheets %}

    {% endblock %}

</head>

<body>
    {% block body %}

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{{ path('accueil') }}">CoursesMaker</a>

                    <div class="nav-collapse">
                        <ul class="nav">
                            {% if not(is_granted('IS_AUTHENTICATED_FULLY')) %}
                                <li class="active"><a href="{{ path('accueil') }}">Accueil</a></li>
                                <li><a href="{{ path('register') }}">Inscription</a></li>
                            {% endif %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('admin_home') }}" class="navbar-link">Admin Home</a></li>
                                <li><a href="{{ path('admin_infos_pratiques') }}">Infos Pratiques</a></li>
                            {% elseif is_granted('ROLE_USER') %}
                                <li><a>Bonjour {{ app.user.username }}</a></li>
                                <li class="active"><a href="{{ path('account', { 'id': app.user.id }) }}">Edition d'équipe</a></li>
                            {% endif %}
                            <li><a href="{{ path('infos_coureurs') }}">Informations</a></li>
                            <li><a href="{{ path('contact') }}">Contact</a></li>
                        </ul>
                        <ul class="nav">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                        {% else %}
                            <li ><a href="{{ path('login') }}">Connexion</a></li>
                        {% endif %}
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>


        <div class="container-fluid">
            {% block rotiscoursemaker_body %}
                {% if pageTitle is defined %}
                    <div class="row-fluid">
                        <div class="page-header">
                            <h1>{{ pageTitle }}</h1>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}

            <div class="hero-unit">
                <div class="row-fluid">
                    <div class="span3">
                        <img src="{{ asset('bundles/rotiscoursemaker/img/logo.png') }}" alt="24Heures" width=""
                             height="">
                    </div>
                    <!-- /span -->
                    <div class="span9">
                        {% block div %} <!-- Titre de la page -->
                        {% endblock %}
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
            </div>
            <!-- /hero-unit -->

            {% block content %}
                <p>Il y aura ici le contenu</p>
            {% endblock %}
            <hr>
        </div>
            <footer>
                <div>
                    <p>&copy; 24 Heures de l'INSA 2013</p>

                    <p><strong>Plus c'est long, plus c'est bon!</strong></p>
                </div>
            </footer>
        

              <!-- Le javascript
      ================================================== -->
              <!-- Placed at the end of the document so the pages load faster -->



        <script type="text/javascript">// <![CDATA[
            //------------------
            $('#myAnim1').click(function () {
                $('#myDiv1').toggle('slow', function () {
                    // Animation complete.
                });
            });
            $('#myAnim2').click(function () {
                $('#myDiv2').toggle('slow', function () {
                    // Animation complete.
                });
            });
            $('#myAnim3').click(function () {
                $('#myDiv3').toggle('slow', function () {
                    // Animation complete.
                });
            });
            $('#myAnim4').click(function () {
                $('#myDiv4').toggle('slow', function () {
                    // Animation complete.
                });
            });
            $('#myAnim5').click(function () {
                $('#myDiv5').toggle('slow', function () {
                // Animation complete.
                 });
            });
             $('#myAnim6').click(function () {
                  $('#myDiv6').toggle('slow', function () {
                // Animation complete.
                  });
             });

            function Swap(div_) {
                var Obj = document.getElementById(div_);
                if (Obj) {
                    if (Obj.style.display == "")
                        Obj.style.display = "none";
                    else
                        Obj.style.display = "";
                }
            }

            var $n2 = $("#registration_team");

            $("#registration_user_username").keyup(function () {
                $n2.val(this.value);
            });

            // ]]>

        </script>

        {% block document_ready %}
        {% endblock document_ready %}
    {% endblock %}
</body>
</html>


