{% extends 'RotisCourseMakerBundle::layout.html.twig' %}
{% block title %}CoursesMaker - Admin{% endblock %}
{% block div %}
    <h1>Admin Home</h1>
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="span12">
            <p><a class="btn" href="{{ path('dashboard') }}">Accéder au dashboard d'admin &raquo;</a></p>
        </div><!--/span-->
    </div>
    <div class="row">
        <div class="span12">
            <div class="nav nav-tabs">
                {{ form_widget(form) }}
            </div>
            <div class="tab-content">
                {% for edition in editions %}
                    <div class="tab-pane row" id="{{ edition.id }}">
                        <div class="span4">
                            <p><a class="btn" href="{{ path('admin_liste', {'name': 'equipes', 'edition': edition.numero|default('') }) }}">Afficher toutes les
                                    équipes &raquo;</a></p>
                        </div><!--/span-->
                        <div class="span4">
                            <p><a class="btn" href="{{ path('admin_liste', {'name': 'courses', 'edition': edition.numero|default('') }) }}">Afficher toutes les
                                    courses &raquo;</a></p>
                        </div><!--/span-->
                        <div class="span4">
                            <p><a class="btn" href="{{ path('admin_mailing', {'edition': edition.numero|default('')}) }}">Générer une liste de mailing &raquo;</a></p>
                        </div><!--/span-->
                        <div class="span4">
                            <p><a class="btn" href="{{ path('admin_relous', {'edition': edition.numero|default('')}) }}">Afficher les coureurs relous &raquo;</a></p>
                        </div><!--/span-->
                        <div class="span4">
                            <p><a class="btn" href="{{ path('admin_classeur', {'edition': edition.numero|default('')}) }}">Afficher le classeur &raquo;</a></p>
                        </div><!--/span-->
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block document_ready %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#'+$("select[name$='[edition]']").find(':selected').val()).show();
            $("select[name$='[edition]']").on('change',function(){
                $('.tab-pane').hide();
                $('#'+$(this).find(':selected').val()).show();
            })
        });
    </script>
{% endblock document_ready %}