{% extends 'RotisCourseMakerBundle::layout.html.twig' %}

{% block title %}CoursesMaker - Controle des Equipes{% endblock %}
{% block div %}
    <h1>Equipes de la {{ edition }}e édition</h1>
{% endblock %}
{% block content %}

    Nombre total d'équipes: {{ nbTotalEquipes }} <br />
    Nombre d'équipes valides: {{ nbEquipesValides }}

    <form action="{{ path('admin_liste', {'name': 'equipes', 'edition': edition}) }}" method="post" {{ form_enctype(form) }} class="form-inline well">
        <legend>Rechercher les noms des coureurs</legend>
        {{ form_widget(form.mot) }}
        {{ form_rest(form) }}
        <input type="submit" class="btn"/>
    </form>

    <table class="table table-condensed table-responsive">
        <tbody>
        {% for equipe in equipes if not equipe.valide %}
            <tr>
                <td>
                    <a href="{{ path('account', { 'id': equipe.id }) }} ">{{ equipe.username }}</a>
                </td>
                <td>
                    {% if equipe.getValide() %}
                        <p id="val">Valide</p>
                    {% else %}
                        <p id="pasval">Pas Valide</p>
                    {% endif %}
                </td>
                <td>
                    {% include 'RotisCourseMakerBundle:Admin:accordion.html.twig' with { 'joueurs': equipe.joueurs } %}
                </td>
                <td>
                    <span class="badge badge-important">{{ news(equipe) }}</span>
                </td>
            </tr>
        {% endfor %}
        {% for equipe in equipes if equipe.valide %}
            <tr>
                <td>
                    <a href="{{ path('account', { 'id': equipe.id }) }} ">{{ equipe.username }}</a>
                </td>
                <td>
                    {% if equipe.getValide() %}
                        <p id="val">Valide</p>
                    {% else %}
                        <p id="pasval">Pas Valide</p>
                    {% endif %}
                </td>
                <td>
                    {% include 'RotisCourseMakerBundle:Admin:accordion.html.twig' with { 'joueurs': equipe.joueurs } %}
                </td>
                <td>
                    <span class="badge badge-important">{{ news(equipe) }}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block document_ready %}
    <script>
        $(document).ready(function(){
            $('.accordion-toggle').on('click',function(){
                $(this).parents('.accordion-group').find(".collapse").collapse("toggle");
            });
        })
    </script>
{% endblock %}