<table class="table table-condensed table-hover table-bordered table-striped">
    <thead>
    <tr>
        <th><span class="pull-left">Nom</span></th>
        <th><span class="pull-left">Prénom</span></th>
        <th><span class="pull-left">Equipe</span></th>
        <th><span class="pull-left">Course</span></th>
        <th><span class="pull-left">Payé</span></th>
        <th><span class="pull-left">Papiers</span></th>
    </tr>
    </thead>
    <tbody>
    {% for course in courses %}
        {% for equipe in course.equipes %}
            {% for coureur in equipe.joueurs %}
                <tr>
                    <td>{{ coureur.nom }}</td>
                    <td>{{ coureur.prenom }}</td>
                    <td>{{ equipe.username }}</td>
                    <td>{{ course.nom }}</td>
                    <td>{{ coureur.paiement | default('En attente') }}</td>
                    <td>{% if coureur.papiersok %}Oui{% else %}Non{% endif %}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    {% endfor %}
    </tbody>
</table>