{% extends 'RotisCourseMakerBundle::layout.html.twig' %}
{% block title %}CoursesMaker - Dashboard{% endblock %}
{% block div %}
    <h1>Dashboard d'administration</h1>
{% endblock %}
{% block content %}

{% include 'RotisCourseMakerBundle:Tables:edition.html.twig' %}

{% include 'RotisCourseMakerBundle:Tables:categorie.html.twig' %}

{% include 'RotisCourseMakerBundle:Tables:type.html.twig' %}

{% include 'RotisCourseMakerBundle:Tables:course.html.twig' %}

{% include 'RotisCourseMakerBundle:Tables:tarif.html.twig' %}

{% include 'RotisCourseMakerBundle:Tables:resultat.html.twig' %}

{% endblock %}
{% block document_ready %}
    <script>
        $(document).ready(function() {
            $(".table").dataTable( {
                "info": false,
                "dom": '<"toolbar">f<t>lp',
                "lengthMenu": [5,10,20,50],
                "oLanguage": {
                    "sLengthMenu": "_MENU_ éléments"
                }
            });
            $("#table-categorie").find(".toolbar").html('<a class="btn" href="{{ path('categorie_create') }}"><i class="icon-plus"></i>Nouvelle categorie</a>');
            $("#table-course").find(".toolbar").html('<a class="btn" href="{{ path('course_create') }}"><i class="icon-plus"></i>Nouvelle course</a>');
            $("#table-resultat").find(".toolbar").html('<a class="btn" href="{{ path('resultat_create') }}"><i class="icon-plus"></i>Nouveau resultat</a>');
            $("#table-edition").find(".toolbar").html('<a class="btn" href="{{ path('edition_create') }}"><i class="icon-plus"></i>Nouvelle edition</a>');
            $("#table-type").find(".toolbar").html('<a class="btn" href="{{ path('type_create') }}"><i class="icon-plus"></i>Nouveau type</a>');
            $("#table-tarif").find(".toolbar").html('<a class="btn" href="{{ path('tarif_create') }}"><i class="icon-plus">Nouveau tarif</i></a>');
        });
    </script>
{% endblock document_ready %}