{% extends 'RotisCourseMakerBundle::layout.html.twig' %}
{% block title %}CoursesMaker - Admin{% endblock %}
{% block div %}
    <h1>Admin Home</h1>

{% endblock %}
{% block content %}

    <div class="span3">
        <p><a class="btn" href="{{ path('admin_control', {'name': 'equipe' }) }}">Afficher toutes les
                équipes &raquo;</a></p>
    </div><!--/span-->

    <div class="span3">
        <p><a class="btn" href="{{ path('admin_control', {'name': 'course' }) }}">Afficher toutes les
                courses &raquo;</a></p>
    </div><!--/span-->

    <div class="span3">
        <p><a class="btn" href="{{ path('admin_mailing') }}">Générer une liste de mailing &raquo;</a></p>
    </div><!--/span-->

    <div class="span3">
        <p><a class="btn" href="{{ path('dashboard') }}">Accéder au dashboard d'admin &raquo;</a></p>
    </div><!--/span-->

    <div class="span3">
        <p><a class="btn" href="{{ path('admin_relous') }}">Afficher les coureurs relous &raquo;</a></p>
    </div><!--/span-->

    <div class="span3">

        <p><a class="btn" href="{{ path('admin_excel') }}">Afficher l'excel &raquo;</a></p>
    </div><!--/span-->


{% endblock %}