{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{%block actions %}
    <a href="{{ path('admin_rotis_coursemaker_joueur_list') }}" class="btn"><i class="icon-backward"></i> Retourner à la liste</a>
{% endblock %}

{% block sonata_admin_content %}
    {% if emails is defined %}
        <h2>Adresses e-mail de tous les coureurs</h2>
        <div>
            <textarea rows="20" style="width: 600px;">{{ emails }}</textarea>
        </div>
    {% endif %}

    {% if emailsByCourse is defined %}
        <h2>Adresses e-mail par course et par catégorie</h2>

        {% for nomCourse, course in emailsByCourse %}
            <h3>{{ nomCourse }}</h3>
            {% for nomCategorie, emails in course %}
                <h4>{{ nomCategorie }}</h4>
                <textarea rows="10" style="width: 600px;">{{ emails }}</textarea>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <p>
        Il y a {{ count }} coureurs au total.
    </p>
{% endblock %}
